<html>
<head>
	<title></title>
</head>
<body>
<form action="{{path("ajaxSaveTree")}}" method="POST">
	<input name="json" type="hidden" value="{{ json }}"/>
	<input type="submit"/>
</form>
</body>
</html>

